<div class="container about">
	<div class="col-md-6 col-md-offset-3">
		<h1>
			About AVLRide
		</h1>
		<h3>How We Work!</h3>
		<p>
		Welcome to AVLRide: connect and organize to ride shares in and around Asheville. 
		</p>
		<p>
		Make it easy to Park and Ride with your existing co-workers and friends or see our ‘smart suggestions’ and find the right match for you. Welcome to the local way to organize. 
		</p>
		<p>
		Are you in the service industry? Work at the hospital? Third shift? Create your profile and discover the way to save money, connect with your neighbors and get to your destination no matter what your schedule demands.
		</p>

		<h3>Make It Work For You!</h3>
		<h5>1) Join Here</h5>
		<p>
		Find your coworkers and friends who work down the street so your early morning or late-night ride home is aligned with your shift schedule.
		</p>

		<h5>2) Connect Online</h5>
		<p>Invite Your Friends &amp; Find New Community Contacts</p>

		<h5>3) Search &amp; Set</h5>
		Based on your location, time, and personal preferences, we create the signal for you to find your ride match. Organize directly and get to your destination. 

		<h5>4) Ride</h5>
		<p>
		Find a Park &amp; Ride that works well for you.
		</p>

		<div class="alert alert-info">
			The application was created during ReRoute AVL.<br>
			A hack-a-thon organized by Code for Asheville.
		</div>
		<h5>Contact Us</h5>
		<p>If you'd like to hear more about AVLRide, or if you have any questions, please <a href='mailto:patrick@avlride.com'>contact us!</a> </p>
	</div>
	
</script>
