<div class="container">
	<div class="col-md-6 col-md-offset-3">
		<h1>
			Connect with AVLRide
		</h1>
		<p>Help us make AVLRide a success. Ride share programs work better the more people that particpiate! Get your friends, co-workers and neighbors involved!</p>
		<a href='mailto:'>Invite Co-Workers and Neighbors by Email</a><br />
		<div class="fb-share-button" data-href="http://www.avlride.com" data-type="button_count"></div>
	</div>

	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=239098266251700&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	</div>
</div>