<div class="header">
	<div class="container">
		<h1>
			AVLRide
		</h1>
	</div>
	<div class="container">
		<form class="form signup-form">
			<p>
				<label for="first name">First Name</label>
				<input type="text" name="first name"/>
			</p>
			<p>
				<label for="last name">Last Name</label>
				<input type="text" name="last name" />
			</p>
			<p>
				<label for="last name">Email Address</label>
				<input type="email" name="user email" />
			</p>
			<p>
				<label for="last name">Home Location</label>
				<input type="text" name="home location" />
			</p>
			<p>
				<label for="last name">Work Location</label>
				<input type="text" name="work location" />
			</p>
			<p>
				<input type="submit" class="btn btn-success"/>
			</p>
		</form>
	</div>				
</div>
