<div class="col-md-6 col-md-offset-3">
	<h3>Ride Share offers leaving from <%= @hood.name %>
	<div class="alert alert-info">
		<%= @hood.rides.count %> rides
	</div>
	<ul class="rides-list list-group">
		<% @hood.rides.each do |ride| %>
		  <li class="list-group-item"><%= link_to ride.title, [ride.hood, ride] %></li>
		<% end %>
	</ul>
</div>