.btn{
	/*color: white !important;*/
}

.sign-in-buttons{
	color: white;
	.btn{
		border: 1px solid white;
	}
	a{
		color: white;
	}
}

img{
	max-width: 100%;
}

.navbar{
	background-color: #0069BF !important;
	border: none !important;
	border-radius: 0px !important;
}

.navbar-default .navbar-brand {
	color: white !important;
	&:hover{
		color: #ddd !important;
		text-decoration: underline;
	}
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #0069BF !important;
	color: white !important;
}

.navbar-default .navbar-toggle {
	background: #eee;
}

@media screen and (max-width:767px){
	.navbar-collapse .dropdown-menu > li > a {
		color: white !important;
		&:hover{
			color: #ddd !important;
			text-decoration: underline;
		}
	}
}

.navbar-default .navbar-nav > li > a {
	color: white !important;
	&:hover{
		color: #ddd !important;
		text-decoration: underline;
	}
}

.container > h2{
	text-align: center;
	color: #999 !important;
	margin-top: 40px !important;
	/*border-bottom: 1px solid #ccc;*/
}

.about h3{
	border-bottom: 1px solid #ccc;
	margin-top: 20px;
}

#error_explanation{
	color: red;
	h2{
		font-size: 1em;
	}
}

.alert{
	margin-top: 20px;
	text-align: center;
}

.neighborhood-list, .rides-list{
	margin-top: 20px;
	li{
		/*margin-top: 10px;*/
		font-size: 1.4em;
	}
}

h1, h2, h3, h4, h5, h6{
	color: #666 !important;
}

.form-options{
	float:left;
	margin-top: 10px;
}

.sign-in-buttons{
	margin-top: 10px;
}

.checkbox-field{
	display:block;
	clear:both;
	overflow:hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	label, input{
		float:left;
		clear:none !important;
		display:inline;
		margin-top: 0px !important; 
	}
	input{
		margin-right: 5px !important;
		margin-top: 3px !important;
	}
}

.chosen-container{
	margin-bottom: 10px;
	min-height: 25px;
	input{
		min-height: 0px !important;
	}
}

fieldset{
	clear:both;
}

.right-nav{
	float:right;
	margin-top: 10px;
}

.cancel-container{
	margin-top: 20px;
	border-top: 1px solid #ccc;
	padding-top: 10px; 
	clear:both;
}

.container form, form.edit_user{
	overflow:hidden;
	/*margin-bottom: 20px;*/
	h1, h3{
		margin-top: 20px;
	}
	input{
		border-radius: 3px;
		&[type="text"], &[type="email"], &[type="password"]{
			width: 100%;
			min-height: 40px;
			padding: 0px 10px;
			border: 1px solid #ccc !important;
			margin-bottom: 5px;
		}
	}
	label{
		margin-top: 10px;
		clear:both;
		display:block;
		margin-bottom: 0px;
	}
	.btn{
		float:right !important;
		margin-top: 10px;
	}	
}

textarea{
	width: 100%;
	min-height: 150px;
	padding: 0px 10px;
	border-radius: 3px;
	border: 1px solid #ccc !important;
}

.logo{
	text-align: center;
	img{
		width: 100%;
		max-width: 400px;
		margin: auto;
		/*width: auto;*/
	}
}

.submit-button{
	clear:both;
	display:block;
	margin-top: 20px;
}

 h1{
 	text-align: center;
 	font-size: 1.4em !important;
 	color: #666 !important;
 }

.radio-group{ 
	overflow:hidden;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-top: 10px;
	span{
		display:block;
		clear:both;
		margin-bottom: 10px;
		font-weight:normal;
		color: #666;
		font-size: 12px;
	}
	p{
		display:inline-block;
		float:left;
		margin-right: 40px;
		background: #ddd;
		padding: 5px;
		border-radius: 5px;
		/*color: white !important;*/
	}
	label, input{
		display:inline-block;
		float:left;
		text-align: right;
	}
	label{
		margin-right: 10px;
		margin-top: 0px !important;
	}
}


