.signup-form{
	input{
		min-height: 30px;
		border-radius: 3px;
		&[type="text"], &[type="email"]{
			width: 100%;
			border: 1px solid #ccc !important;
		}
	}
	label{
		clear:both;
		display:block;
	}
	.btn{
		float:right !important;
	}	
}

.submit-button{
	clear:both;
	display:block;
	margin-top: 20px;
}

 h1{
 	text-align: center;
 	font-size: 1.4em !important;
 	color: #666 !important;
 }

.radio-group{ 
	overflow:hidden;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-top: 10px;
	span{
		display:block;
		clear:both;
		margin-bottom: 10px;
		font-weight:bold;
	}
	p{
		display:inline-block;
		float:left;
		margin-right: 20px;
	}
	label, input{
		display:inline-block;
		float:left;
	}
	label{
		margin-right: 10px;
	}
}


