.btn{
	/*color: white !important;*/
}

.facebook-link{
	float:right;
	margin-top: 10px;
}

form{
	input{
		min-height: 30px;
		border-radius: 3px;
		&[type="text"], &[type="email"]{
			width: 100%;
			border: 1px solid #ccc !important;
		}
	}
	label{
		clear:both;
		display:block;
	}
	.btn{
		float:right !important;
	}	
}

.logo{
	text-align: center;
	img{
		width: 100%;
		max-width: 400px;
		margin: auto;
		/*width: auto;*/
	}
}

.submit-button{
	clear:both;
	display:block;
	margin-top: 20px;
}

 h1{
 	text-align: center;
 	font-size: 1.4em !important;
 	color: #666 !important;
 }

.radio-group{ 
	overflow:hidden;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
	margin-top: 10px;
	span{
		display:block;
		clear:both;
		margin-bottom: 10px;
		font-weight:normal;
		color: #666;
		font-size: 12px;
	}
	p{
		display:inline-block;
		float:left;
		margin-right: 40px;
	}
	label, input{
		display:inline-block;
		float:left;
		text-align: right;
	}
	label{
		margin-right: 10px;
	}
}


